<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TOMAFISICA.My.MySettings.MiCadenaConexion" connectionString="Data Source=192.168.137.1;Initial Catalog=ITS;Persist Security Info=True;User ID=sa;Password=Emfama1234" providerName="System.Data.SqlClient"/>
        <!--<add name="MiCadenaConexion" connectionString="XpoProvider=MSSqlServer;Data Source=192.168.137.1;Initial Catalog=ITS;Persist Security Info=True;User ID=sa;Password=Emfama1234"/>-->
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
